/test_project/.idea/inspectionProfiles/profiles_settings.xml
/test_project/.idea/.gitignore
/test_project/.idea/.name
/test_project/.idea/misc.xml
/test_project/.idea/modules.xml
/test_project/.idea/test_project.iml
/test_project/Homework2.py
